:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}
body {
  text-align: center;
  min-height: 100vh;
  width: 750px;
  font-family: "Alata", sans-serif;
  margin: 0 auto;
}
.header {
  height: 1300px;
  background-image: url("../images/mobile/image-hero.jpg");
  margin-bottom: 12em;
}
.header-logo {
  height: 48px;
}
.header-images {
  margin-bottom: 19.2em;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 3.95em 0 0 48px;
}
.hidden-nav {
  display: none;
  color: var(--White);
  background-color: var(--Black);
  text-align: left;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  padding-top: 2px;
  padding-left: 3em;
}
.hidden-nav nav {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  line-height: 2.04em;
}
.hidden-nav.active {
  display: block;
}
.header.active,
body.active {
  background: var(--Black);
  margin-bottom: 0;
}
.container.active,
header.active {
  display: none;
}
.header-images.active {
  margin-bottom: 12.85em;
}
header {
  color: var(--White);
  text-transform: uppercase;
  font-size: 80px;
  border: 4px solid var(--White);
  margin: 0 46px;
  font-family: "Josefin Sans", sans-serif;
  padding: 50px 46px 34px;
  line-height: 0.95em;
  text-align: left;
}
.mid,
.creations-header {
  width: 654px;
  margin: 0 auto;
}
.sub-header {
  font-family: "JOSEFIN SANS";
  text-transform: uppercase;
  font-size: 64px;
  margin: 96px 0 33px;
}
.text {
  font-size: 31px;
  color: var(--DarkGray);
  margin: 0 0.65em;
  line-height: 1.62em;
}
.creations-header {
  margin: 2.9em auto 1.47em;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
}
.row,
.creations {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.image-container {
  height: 240px;
}
button {
  margin: 0.65em auto 6.35em;
  width: 316px;
  height: 82px;
  font-family: "Alata";
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 9px;
  border: 2px solid var(--Black);
  padding-left: 3px;
}
.hide {
  padding: 0 7.5em 0 0.84em;
  text-transform: uppercase;
  position: relative;
  bottom: 184px;
  font-family: "Josefin Sans";
  font-size: 48px;
  line-height: 1em;
  text-align: left;
}
.overlay-container {
  color: var(--White);
}
.grid {
  width: 10px;
}
.footer {
  background-color: var(--Black);
  padding: 7em 0 0;
  margin-left: 1px;
}
.logo {
  padding-left: 1px;
}
nav {
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  font-size: 31px;
  line-height: 2.66em;
  margin: 1.45em 0 2.5em;
}
nav a {
  text-decoration: none;
  color: var(--White);
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-left: 1px;
}
.fpi-icon {
  height: 48px;
}
.x-icon {
  height: 40px;
}
footer {
  color: var(--DarkGray);
  margin: 1.2em;
  font-size: 31px;
  padding-right: 3px;
}
.menu {
  border: none;
  background-color: transparent;
  margin: 0;
  justify-content: right;
  display: flex;
  align-items: center;
  padding: 0;
}
.desktop {
  display: none;
}
.mobile {
  display: block;
}
@media (min-width: 100px) {
  body {
    width: 1440px;
  }
  .header {
    background: url("../images/desktop/image-hero.jpg") no-repeat;
    margin-bottom: -30.6em;
    filter: brightness(0.7);
  }
  .header-images {
    margin: 0 0 8.67em 7.3em;
    padding-top: 4em;
  }
  .header-logo {
    height: 32px;
  }
  .hidden-nav {
    display: block;
    background: none;
    text-transform: none;
    padding-top: 0;
    width: 1227px;
  }
  .hidden-nav nav {
    font-size: 16px;
    flex-direction: row;
    margin: -10.5em 0 7.85em;
    justify-content: right;
  }
  nav a {
    font-weight: bold;
    position: relative;
    transition: all 0.4s ease-in;
  }
  nav a:hover::after {
    content: "";
    display: block;
    background-color: var(--White);
    height: 2px;
    width: 45%;
    position: absolute;
    top: 104%;
    left: 17px;
  }
  header {
    font-size: 72px;
    border: 2px solid var(--White);
    margin: 0 0 0 2.28em;
    padding: 40px 42px 27px 38px;
    width: 39.45%;
    line-height: 0.97em;
  }
  .mid {
    padding-left: 10.25em;
    width: 1440px;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .interactive {
    clip-path: polygon(
      100% 0%,
      100% 36.5%,
      78% 36.5%,
      78% 100%,
      0% 100%,
      0% 0%
    );
  }
  .subb {
    position: relative;
    left: 35.65em;
    bottom: 19.85em;
  }
  .sub-header {
    font-family: "JOSEFIN SANS";
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 0.55em;
    line-height: 1em;
    padding-left: 1.72em;
    text-align: center;
    width: 392px;
  }
  .text-header {
    margin-right: -26px;
  }
  .text {
    font-size: 15.5px;
    padding-left: 5.5em;
    line-height: 1.61em;
    width: 452px;
    text-align: left;
  }
  .creations-header {
    position: relative;
    font-size: 49px;
    margin: -2.78em -2.6em 1.65em;
    word-spacing: -5px;
  }
  .creations {
    width: 1114px;
    gap: 0;
  }
  .row {
    margin-bottom: 30px;
    gap: 30px;
    flex-direction: row;
    filter: brightness(0.65);
  }
  .image-container {
    height: 450px;
  }
  .overlay-container {
    width: 100%;
    position: relative;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
  }
  .overlay:hover,
  .overlay-container:hover {
    opacity: 1;
    color: var(--Black);
  }
  .hide {
    bottom: 128px;
    font-size: 32.4px;
    width: 188px;
    right: -39px;
    padding: 0;
    pointer-events: none;
  }
  .grid {
    width: 0;
  }
  button {
    margin: 0 auto;
    width: 159px;
    height: 42px;
    font-size: 16px;
    letter-spacing: 3px;
    position: absolute;
    left: 1120px;
    top: 1497px;
  }
  .footer {
    margin: 9.6em 0 0;
    height: auto;
    display: flex;
    padding: 2.75em 0 1em;
  }
  .column1 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 14px;
  }
  .logo img {
    height: 24px;
  }
  .logo {
    margin-right: 32.9em;
  }
  nav {
    flex-direction: row;
    font-size: 15px;
    margin: 0 0 0 11em;
    gap: 32px;
  }
  nav a:hover,
  button:hover {
    cursor: url("../images/cursor.svg"), auto;
  }
  button:hover {
    background-color: var(--Black);
    color: var(--White);
  }
  .footer nav {
    gap: 34px;
  }
  .footer-nav a {
    font-weight: normal;
  }
  .footer-nav a:hover::after {
    width: 46%;
    top: 99%;
    left: 14px;
  }
  .column2 {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 440px;
  }
  .socials {
    position: relative;
    gap: 16px;
    justify-content: left;
    padding-left: 8.2em;
  }
  .social-icon {
    transition: all 0.2ms ease-in;
  }
  .social-icon:hover::after {
    content: "";
    background-color: var(--White);
    height: 2px;
    width: 5.5%;
    position: absolute;
    top: 32px;
    margin-left: -1.5em;
  }
  .fpi-icon {
    height: 24px;
  }
  .x-icon {
    height: 20px;
  }
  footer {
    font-size: 15.5px;
    padding-right: 10.59em;
    margin: -3px 0 0;
  }
}
